<div class="card">
	<ul class="list-group">
		<li class="list-group-item p-3 dashboardLinks">
			<a class="nav-link d-flex align-items-center justify-content-between flex-row-reverse" href="{{ path('account_dashboard')}}">
			<i class="fas fa-home"></i>
			Dashboard
		</a>
		</li>
		<li class="list-group-item p-3 dashboardLinks">
			<a class="nav-link d-flex align-items-center justify-content-between flex-row-reverse" href="{{ path('account_profile')}}">
			<i class="fas fa-user"></i>
			Mes informations
		</a>
		</li>
		<li class="list-group-item p-3 dashboardLinks">
			<a class="nav-link d-flex align-items-center justify-content-between flex-row-reverse" href="{{ path('account_change-password')}}">
			<i class="fas fa-lock"></i>
			Changement mot de passe
		</a>
		</li>
		<li class="list-group-item p-3 dashboardLinks">
			<a class="nav-link d-flex align-items-center justify-content-between flex-row-reverse" href="{{ path('account_address')}}">
			<i class="fas fa-book"></i>
			Mes adresses
		</a>
		</li>
		<li class="list-group-item p-3 dashboardLinks">
			<a class="nav-link d-flex align-items-center justify-content-between flex-row-reverse" href="{{ path('account_orders')}}">
			<i class="fas fa-cart-shopping"></i>
			Mes commandes
		</a>
		</li>
		<li class="list-group-item p-3 dashboardLinks">
			<a class="nav-link d-flex align-items-center justify-content-between flex-row-reverse" href="{{ path('account_wishlist')}}">
			<i class="fas fa-star"></i>
			Ma liste d'envies
		</a>
		</li>
	</ul>
</div>
