{% extends 'base.html.twig' %}

{% block title %}
	Mes adresses
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<i>
					<small>
						<a href="{{ path('home')}}">Home</a>
						/
						<a href="{{ path('account_dashboard')}}">Dashboard</a>
						/Mes adresses
					</small>
				</i>
			</div>
		</div>
		<div class="row mt-5 mb-5">
			<div class="col-lg-3">
				{{ include('account/_dashboardLinks.html.twig') }}
			</div>
			<div class="col-lg-9 border rounded p-5">
				<h1>Mes adresses</h1>
				{% for address in addresses %}
					<div class="container">
						<div class="row">
							<div class="col-lg-12 mb-5 mt-5">
								<div class="card shadow">
									<div class="card-body">
										<h5 class="card-title">{{ address.name }}</h5>
										<p class="card-text">{{ address.adresse }}</p>
										<p class="card-text">{{ address.zipCode }}
											{{ address.city }}</p>
										<p class="card-text">{{ address.country }}</p>
										<p class="card-text">{{ address.phone }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endblock %}
