{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe |
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<i>
					<small>
						<a class="crumb" href="{{ path('home') }}">Accueil</a>
						/
						<a class="crumb" href="{{ path('account_dashboard') }}">Tableau de bord</a>
						/Mot de passe
					</small>
				</i>
			</div>
		</div>
		<div class="row mt-5 mb-5">
			<div class="col-lg-3 mt-2">
				{{ include('account/_dashboardLinks.html.twig') }}
			</div>
			<div class="col-lg-9 mt-2 border rounded p-3">
				<h1>Administration du mot de passe</h1>
				<p>Changement de mot de passe</p>
				<hr>
				{{ form_start(form) }}
				<div class="row">
					<div class="col-lg-12">
						{{ form_row(form.plainPassword) }}
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 d-flex justify-content-end mt-3">
						<button type="submit" class="btn btn-outline-success">Enregistrer</button>
					</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
