{% extends 'base.html.twig' %}

{% block title %}
	Mon compte
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<i>
					<small>
						<a href="{{ path('home') }}">Home</a>
						/Mon Compte
					</small>
				</i>
			</div>
		</div>
		<div class="row mt-5 mb-5">
			<div class="col-lg-3">
				{{ include('account/_dashboardLinks.html.twig') }}
			</div>
			<div class="col-lg-9 border rounded p-5">
				<h1>Mon compte</h1>
				<p>Mes informations</p>
				<hr>
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p>{{ user.firstName }} {{ user.lastName }}</p>
							<p class="fw-bold">{{ user.email }}</p>
							{% if user.isVerified == false %}
								<a href="{{ path('account_verify-email') }}" class="btn btn-outline-danger">Email non vérifié</a>
							{% else %}
							<p class="btn btn-outline-success">Email vérifié</p>
							{% endif %}
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-lg-12 d-flex">
							<a href="{{ path('account_profile') }}" class="nav-link me-5"><i class="fa fa-pen"></i> Modifier mes informations</a>
							<a href="{{ path('change-password') }}" class="nav-link"><i class="fa fa-lock"></i> Modifier mot de passe</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
