{% extends 'base.html.twig' %}

{% block title %}Mes commandes |
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<i>
					<small>
						<a href="{{ path('home') }}">Home</a>
						/
						<a href="{{ path('account_dashboard') }}">Dashboard</a>
						/Mes commandes
					</small>
				</i>
			</div>
		</div>
		<div class="row mt-5 mb-5">
			<div class="col-lg-3">
				{{ include('account/_dashboardLinks.html.twig') }}
			</div>
			<div class="col-lg-9 border rounded p-5">
				<h1>Mes commandes</h1>
					{% if orders|length is same as(0) %}
					<hr>
					<p>Vous n'avez aucune commande d'enregistrée.</p>
				{% else %}
					<table class="table mt-4">
						<thead>
							<tr>
								<th scope="col">Numéro commande</th>
								<th scope="col">Statut</th>
								<th scope="col">Payée le</th>
								<th scope="col" >Produit(s)</th>
								<th scope="col" colspan="2">Total</th>
							</tr>
						</thead>
						<tbody>
							{% for order in orders %}	
								<tr>
									<td>{{ order.reference }}</td>						
									<td>
										{% if order.state == 1 %}							
											Payée
										{% elseif order.state == 2 %}
											Préparation en cours
										{% elseif order.state == 3 %}
											Livraison en cours					
										{% endif %}
									</td>
									<td>{{ order.createdAt |date('d-m-Y') }}</td>
									<td class="text-left">{{ order.orderDetails|length }}</td>
									<td>{{ ((order.shipping.price) + order.getTotal / 100)|number_format(2, ',', '.', ' ') }} &euro;</td>
									<td class="text-right"><a href="{{ path('account_order', {'id': order.id}) }}">Détail de votre commande</a></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
