{% extends 'base.html.twig' %}

{% block title %}Mes commandes |
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<i>
					<small>
						<a class="crumb" href="{{ path('home') }}">Accueil</a>
						/
						<a class="crumb" href="{{ path('account_dashboard') }}">Tableau de bord</a>
						/  Mes commandes
					</small>
				</i>
			</div>
		</div>
		<div class="row mt-5 mb-5">
			<div class="col-lg-3 mt-2">
				{{ include('account/_dashboardLinks.html.twig') }}
			</div>
			<div class="col-lg-9 mt-2 border rounded p-3">
				<h1>Mes commandes</h1>
				{% if orders|length is same as(0) %}
					<hr>
					<p>Vous n'avez aucune commande d'enregistrée.</p>
				{% else %}
					<table class="table mt-4 table-striped rounded border shadow">
						<thead>
							<tr>
								<th scope="col">Numéro commande</th>
								<th scope="col">Statut</th>
								<th scope="col">Payée le</th>
							</tr>
						</thead>
						<tbody>
							{% for order in orders %}
								<tr>
									<td>{{ order.reference }}</td>
									<td>
										{% if order.state == 0 %}
											En attente de paiement
										{% elseif order.state == 1 %}
											Payée
										{% elseif order.state == 2 %}
											Préparation en cours
										{% elseif order.state == 3 %}
											Livraison en cours
										{% elseif order.state == 4 %}
											Livré
										{% endif %}
									</td>
									<td>{{ order.createdAt |date('d-m-Y') }}</td>
									
									<td class="text-right">
										<a class="linkNav" href="{{ path('account_order', {'id': order.id}) }}">Détail de votre commande</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
