{% extends 'base.html.twig' %}

{% block title %}
	Ma commande |
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Commande n°{{ order.reference }}</h1>
		<a href="{{ path('account_orders') }}">Retour</a>
		<hr>
		<strong>Statut de la commande :
		</strong>
		{% if order.state == 0 %}
			En attente de paiement
		{% elseif order.state == 1 %}
			Payée
		{% elseif order.state == 2 %}
			Préparation en cours
		{% elseif order.state == 3 %}
			Livraison en cours
		{% elseif order.state == 4 %}
			Livrée
		{% endif %}<br>
		<strong>Commande passé le :</strong>
		{{ order.createdAt |date('d-m-Y') }}<br>
		<strong>Référence de ma commande :</strong>
		{{ order.reference }}<br>
		<strong>Transporteur choisi :</strong>
		{% for ship in shipping %}
			{{ ship.name }}
		
		<br>
		<hr>
		<strong>Détails</strong>
		<table class="table mt-4">
			<thead>
				<tr>
					<th scope="col">Produit</th>
					<th scope="col">Perso</th>
					<th scope="col">Quantité</th>
					<th scope="col">Prix unitaire HT</th>
					<th scope="col">Prix unitaire TTC</th>
					<th scope="col">Total</th>
				</tr>
			</thead>
			<tbody>
			{% set Total = 0 %}
			{% set TotalHT = 0 %}
			{% set totalWithPrimaryOffer = 0 %}
			{% set totalWithSecondaryOffer = 0 %}
			
				{% for product in order.orderDetails %}
				<pre>
					{{ dump(product) }}
				</pre>

				{% set Total = Total + ((product.product.price / 100) + (product.customPrice)) * product.quantity %}
				{% set TotalHT = TotalHT + ((((product.product.price / 100) + (product.customPrice)) - ((((product.product.price / 100) + (product.customPrice)) * (product.taxe)) / 100 )) * product.quantity ) %}
					<tr>
						<td>{{ product.product.name }}</td>
						<td>{% if product.customDescription is not null %}{{ product.customDescription }}{% else %}pas de perso{% endif %}</td>
						<td>{{ product.quantity }}</td>
				{% if  product.primaryOfferName is not empty %}
				{% if product.primaryOfferTypeReduce == "percent" %}
				{% set percentReduce = 0 %}
				{% set percentReduce = ((product.product.price / 100) * product.primaryOfferReduce) / 100 %}
				{% set totalWithPrimaryOffer = totalWithPrimaryOffer - percentReduce %}
				{% else %}
				{% set euroReduce = 0 %}
				{% set euroReduce = product.primaryOfferReduce %}
				{% set totalWithPrimaryOffer = totalWithPrimaryOffer  - euroReduce %}
				{% endif %}
				{% endif %}
				{% if  product.secondaryOfferName is not empty %}
				{% if product.secondaryOfferTypeReduce == "percent" %}
				{% set secondaryPercentReduce = 0 %}
				{% set secondaryPercentReduce = ((product.product.price / 100) * product.secondaryOfferReduce) / 100 %}
				{% set totalWithSecondaryOffer = totalWithSecondaryOffer - secondaryPercentReduce %}
				{% else %}
				{% set secondaryEuroReduce = 0 %}
				{% set secondaryEuroReduce = product.secondaryOfferReduce %}
				{% set totalWithSecondaryOffer = totalWithSecondaryOffer - secondaryEuroReduceeuroReduce %}
				{% endif %}
				{% endif %}
						<td>{{ (((product.product.price / 100 +(totalWithPrimaryOffer) + (totalWithSecondaryOffer)) + (product.customPrice)) - ((((product.product.price / 100) + (product.customPrice)) * (product.taxe)) / 100 )) | number_format(2, ',', ' ') }} €</td>
						<td>{{ ((product.product.price / 100 +(totalWithPrimaryOffer) + (totalWithSecondaryOffer)) + (product.customPrice)) | number_format(2, ',', ' ') }} €</td>
						<td>{{ (((product.product.price / 100 +(totalWithPrimaryOffer) + (totalWithSecondaryOffer)) + (product.customPrice)) * product.quantity) | number_format(2, ',', ' ') }} €</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="row">
			<div class="col-lg-10"></div>
			<div class="col-lg-2 bg-light rounded mt-2 mb-5 p-3">
				<div class="text-end">
					<strong>Sous Total HT:</strong>
					{{  (TotalHT)|number_format(2, ',', '.', ' ') }}
					&euro;
					<hr>
					<strong>Sous-total TTC:
					</strong>
					{{  (Total )|number_format(2, ',', '.', ' ') }}
					&euro;
					<hr>
					<strong>Livraison :
					</strong>
			
						{{ ((ship.price))|number_format(2, ',', '.', ' ') }}
					
					&euro;
					<hr>
					<strong>Total :
					</strong>
					
						{{  (Total + ship.price)|number_format(2, ',', '.', ' ') }}
						&euro;
					{% endfor %}
				</div>
			</div>
		</div>
		<a class="linkNav" href="{{ path('account_order_pdf', { id: order.id }) }}">Télécharger votre facture au format pdf</a>
	</div>
{% endblock %}
