<div class="container">
	<div class="row">
		{% for product in products %}
			<div class="col-lg-4 d-flex justify-content-center">
				<a href="#">
					<div class="card product-card">
						<img src="{{ product.image0 }}" class="card-img-top product-image" alt="{{ product.name }}">
						<div class="middle">
							<a href="#" class="product-text nav-link rounded btn btn-outline-light fw-bold align-items-center">Voir</a>
						</div>
					</a>
					<div class="card-body">
						<h5 class="card-title">{{ product.name }}</h5>
						<p class="card-text">{{ product.summary }}</p>
					</div>
					<div class="card-body">
						<p href="#" class="card-link">{{ product.price}}
							€</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
