<div class="container">
	<div class="row">
		<h2 class="mt-5 mb-5 text-center">Les derniers Produits</h2>
		{% for product in products %}
			<div class="col-lg-3 col-6 mb-2 d-flex justify-content-center">
				<a href="{{ path('product_show', { parentCategory: product.category.parent.slug, category: product.category.slug, product: product.slug }) }}">
					<div class="card product-card shadow">
						<img src="{{ ('/images/products/' ~ product.image0)|imagine_filter('latest_products') }}" class="w-100 card-img-top product-image" alt="{{ product.name }}">
						<div class="middle">
							<a href="{{ path('product_show', { parentCategory: product.category.parent.slug, category: product.category.slug, product: product.slug }) }}" class="product-text nav-link rounded btn btn-outline-light fw-bold">Voir</a>
						</div>
					</a>
					<div class="card-body d-flex flex-column">
						<h5 class="card-title">{{ product.name }}</h5>
						<p class="card-text">{{ product.summary|u.truncate(50, '...', false) }}</p>
						{% include "includes/productprice/index.html.twig" %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
