<div class="container">
	<div class="row mt-2">
		<div class="col">
			<a class="text-decoration-none" href="{{ path('home') }}">
				{% if logo %}
					<img class="logo" src="{{ '/images/logos/' ~ logo.image }}" alt="{{ logo.name }}">
				{% else %}
					{% for shop in shops %}
						<p class="text-dark m-2 fw-bold">{{ shop.name }}</p>
					{% endfor %}
				{% endif %}
			</a>
		</div>
		<div class="col">
			{% for shop in shops %}
				<div class="fs-1 text-center mx-auto">{{ shop.name }}</div>
			{% endfor %}
		</div>
		<div class="col"></div>
	</div>
</div>
