{% extends 'base.html.twig' %}

{% block title %}
	{{ category.name }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<i>
					<small>
						<a href="{{ path('home')}}">Home</a>
						/Categorie/
						<a href="{{ path('category_index', { parentCategory: parentCategory.slug })}}">{{ parentCategory.name }}</a>
						/
						<a class="fw-bold text-decoration-none link-dark">{{ category.name }}</a>
					</small>
				</i>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 mt-5 mb-5">
				<div class="card text-white fw-bold">
					<img class="img-fluid shadow rounded-top w-100 banner-image" style="max-height: 400px" src="{{ ('/images/categories/' ~ category.image) }}" alt="{{ category.name }}">
					<div class="card-img-overlay d-flex">
						<h1 class="card-title text-center align-self-center mx-auto">{{ category.name }}</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<input type="submit" class="btn btn-outline-primary" value="Rechercher">
				{{ form_end(form) }}
				<div class="row mb-5">
					{% for product in products %}
						<div class="col mx-auto mb-2">
							<a href="{{ path('product_show', { parentCategory: product.category.parent.slug, category: product.category.slug, product: product.slug }) }}">
								<div class="card m-2 product-card shadow product-card-image" style="width:18rem;">
									<img src="{{ ('/images/products/' ~ product.image0)|imagine_filter('category_products') }}" class="w-100 card-img-top img-fluid" alt="{{ product.name }}">
								</a>
								<div class="card-body">
									<h5 class="card-title w-100">{{ product.name }}</h5>
									<p class="card-text w-100">{{ product.summary }}</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
	</div>
</div>{% endblock %}
