{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
	<div class="container-fluid">
		<div class="row mb-3">
			<div class="col-2 d-flex align-items-center justify-content-center">
				{% if logo == null %}
					{% for shop in shops %}
						<img class="img-fluid mt-2 rounded" src="https://fakeimg.pl/200x200/?text={{ shop.name }}" alt="{{ shop.name }}">
					{% endfor %}
				{% else %}
					{% if logo.image is empty %}
						<img class="img-fluid mt-2 rounded" src="https://fakeimg.pl/200x200/?text={{ logo.name }}" alt="{{ logo.name }}">
					{% else %}
						<img src="{{ '/images/logos/' ~ logo.image }}" alt="Logo" class="img-fluid mt-2 rounded">
					{% endif %}
				{% endif %}
			</div>
			<div class="col-8">
				<h1 class="text-center mt-5 ">Bienvenue sur l'administration</h1>
			</div>
			<div class="col-2"></div>
		</div>
		<div class="row">
			<div class="col-lg-4 text-center">
				<h2>Stripe</h2>
				<p>Acces à la console Stripe</p>
				<a href="https://dashboard.stripe.com/login" class="btn btn-primary" target="_blank">Accéder à la console</a>
			</div>
			<div class="col-lg-4 text-center">
				<h2>Mondial Relay</h2>
				<p>Acces à la console Mondial Relay</p>
				<a href="https://www.mondialrelay.fr/" class="btn btn-primary" target="_blank">Mondial Relay</a>
			</div>
			<div class="col-lg-4 text-center">
				<h2>Google Analytics</h2>
				<p>Acces à la console Google Analytics</p>
				<a href="https://analytics.google.com/analytics/web/" class="btn btn-primary" target="_blank">Google Analytics</a>
			</div>
		</div>
		<div class="row mt-5 text-center">
			<div class="col-lg-4">
				<div class="card m-3">
					<div class="card-header fw-bold fs-4">Dashboard Produits</div>
					<div class="card-body">
						<p class="card-text fs-4">Nombre de Produits</p>
						<p class="fw-bold fs-3">
							{{ products|length }}
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card m-3">
					<div class="card-header fw-bold fs-4">Dashboard Commandes</div>
					<div class="card-body">
						<p class="card-text fs-4">Nombre de commandes</p>
						<p class="fw-bold fs-3">
							{{ orders|length }}
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card m-3">
					<div class="card-header fw-bold fs-4">Dashboard Utilisateurs</div>
					<div class="card-body">
						<p class="card-text fs-4">Nombre d'utilisateurs</p>
						<p class="fw-bold fs-3">
							{{ users|length }}
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<h2 class="card-header mb-2 text-center">Commandes</h2>
					<table>
						<thead>
							<tr>
								<th class="text-center">References</th>
								<th class="text-center">Clients</th>
								<th class="text-center">Produits</th>
								<th class="text-center">Date</th>
								<th class="text-center">Transporteur</th>
								<th class="text-center">Adresse de livraison</th>
								<th class="text-center">Statut</th>
							</tr>
						</thead>
						{% for order in orders |filter (order => order.state != 4) %}
							<tbody>
								<tr>
									<td class="col text-center">{{ order.reference }}</td>
									<td class="col text-center">{{ order.user.fullName }}</td>
									<td class="col text-center">
										{% for product in order.orderDetails %}
											{{ product.product}}
											x
											{{ product.quantity }}
											<br>
										{% endfor %}
									</td>
									<td class="col text-center">{{ order.createdAt|date('d/m/Y') }}</td>
									<td class="col text-center">
										{% for shipping in order.shipping %}
											{{ shipping.name }}
											{{ shipping.price }}€
										{% endfor %}
									</td>
									<td class="col text-center">
										{{ order.adress.name }}
										<br>
										{{ order.adress.adresse }}<br>
										{{ order.adress.zipcode }}
										{{ order.adress.city }}<br>
										{{ order.adress.country }}
									</td>
									<td class="col text-center">
										{% if order.state == 0 %}
											<span class="badge bg-warning">En attente de paiement</span>
										{% elseif order.state == 1 %}
											<span class="badge bg-info">Payée</span>
										{% elseif order.state == 2 %}
											<span class="badge bg-success">Preparation en cours</span>
										{% elseif order.state == 3 %}
											<span class="badge bg-danger">Livraison en cours</span>
										{% endif %}
									</td>
								</tr>
							</tbody>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
