<div class="container">
	<div class="row">
		<div class="col-lg-12 mb-3">
			<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner rounded">
					{% for banner in banners %}
						{% if date(banner.startedAT) < date() and date(banner.endedAT) > date() %}
						{% if banner.position == 2 and loop.index0 == 0 %}
								<div class="carousel-item active" data-bs-interval="5000">
									<img src="{{ ('/images/banners/' ~ banner.image) }}" class="img-fluid w-100 rounded banner-image shadow" style="height:400px;" alt="{{ banner.name }}">
								</div>
						{% endif %}
							{% if banner.position == 1 %}
								{% if loop.index0 == 0 and loop.first == true %}
								<div class="carousel-item active" data-bs-interval="5000">
									<img src="{{ ('/images/banners/' ~ banner.image) }}" class="img-fluid w-100 rounded banner-image shadow" style="height:400px;" alt="{{ banner.name }}">
								</div>
								{% elseif loop.index0 == 1 and loop.first == false  and loop.revindex == ( loop.length - 1) %}
								<div class="carousel-item" data-bs-interval="5000">
									<img src="{{ ('/images/banners/' ~ banner.image) }}" class="img-fluid w-100 rounded banner-image shadow" style="height:400px;" alt="{{ banner.name }}">
								</div>
								{% else %}
								<div class="carousel-item " data-bs-interval="5000">
									<img src="{{ ('/images/banners/' ~ banner.image) }}" class="img-fluid w-100 rounded banner-image shadow" style="height:400px;" alt="{{ banner.name }}">
								</div>
							{% endif %}
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col">
			{% for banner in banners %}
				{% if date(banner.startedAT) < date() and date(banner.endedAT) > date() %}
					{% if banner.position == 2 %}
						<div class="mb-3">
							<img src="{{ ('/images/banners/' ~ banner.image) }}" class="img-fluid w-100 rounded banner-image shadow" style="height:100px;" alt="{{ banner.name }}">
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
