<div class="card h-100">
	<div class="card-header">
		<h2 class="card-title">{{ product.name }}</h2>
	</div>
	<div class="card-body d-flex flex-column">
		{% include "product/_rating.html.twig" %}
		<p class="card-text mt-1">{{ product.summary }}</p>
		{% if app.user %}
			<a href="{{ path('wishlist_new', { product: product.slug }) }}">Ajouter à ma liste d'envie</a>
		{% endif %}
		<div class="row">
			<div class="col-md-6 mb-3">
				{% for attribut in attributs %}
					<form action="{{ path('cart_add', { id:attribut.id }) }}" method="post">
					{% endfor %}
					<label for="attribut">Attribut :</label>
					<select class="form-control form-control-lg" name="attribut" id="attribut" onchange="Changequantity()" required>
						<option value="">Choisissez un attribut...</option>
						{% for attribut in attributs %}
							<option value="{{ attribut.id }}">{{ attribut.name }}</option>
						{% endfor %}
					</select>
					<div class="invalid-feedback">
						Merci de choisir un attribut.
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="quantity">Quantité :</label>
					<select class="form-control form-control-lg" id="quantity" name="quantity" required></select>
					<div class="invalid-feedback">
						Merci de choisir une quantité.
					</div>
				</div>
			</div>
			<button class="btn btn-outline-success btn-lg btn-block" type="submit">Ajouter au panier</button>
		</form>
		{% include "includes/productprice/index.html.twig" %}
	</div>
</div>
<script>
	let quantities = {};{% for attribut in attributs %}quantities[{{ attribut.id }}] = {{ attribut.quantity }};{% endfor %}function Changequantity() {
let select = document.getElementById('quantity');
let attribut = document.getElementById('attribut').value;
select.innerHTML = '';
for (let i = 1; i <= quantities[attribut]; i++) {
let option = document.createElement('option');
option.value = i;
option.innerHTML = i;
select.appendChild(option);
}
}
</script>
