<div class="card h-100">
	<div class="card-header">
		<h2 class="card-title">{{ product.name }}</h2>
	</div>
	<div class="card-body d-flex flex-column">
		{% include "product/_rating.html.twig" %}
		<p class="card-text mt-1">{{ product.summary }}</p>
		{% if app.user %}
			<a href="{{ path('wishlist_new', { product: product.slug }) }}">Ajouter à ma liste d'envie</a>
		{% endif %}
		<div class="row">
			<div class="col-md-6 mb-3">
			{% if attributs | length > 0 %}
					<label for="attribut">Options :</label>
					<select class="form-control form-control-lg" name="attribut" id="attribut" onchange="Changequantity()" required>
						<option value="">Choisissez une option</option>
						{% for attribut in attributs %}
							<option value="{{ attribut.id }}">{{ attribut.name }}</option>		
						{% endfor %}
					</select>
					<div class="invalid-feedback">
						Merci de choisir votre option
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="quantity">Quantité :</label>
					<select class="form-control form-control-lg" id="quantity" name="quantity" onchange="setQuantity()" required></select>
					<div class="invalid-feedback">
						Merci de choisir une quantité.
					</div>
				</div>
			{% else %}
					<div class=" fw-bold">Désolé produit victime de son succès, en attente de réapprovisionnement.</div>
					</div>
			{% endif %}
				<div id="add-to-cart"></div>
			</div>
		{% include "includes/productprice/index.html.twig" %}
	</div>
</div>
{# {% if attribut.persoIsEnable == true %}
				<div class="col-md-6 mb-3 ">
					<label for="perso">Personnalisation :</label>
					<input type="text" class="form-control form-control-lg mt-2" id="perso" name="perso" placeholder="Personnalisation" required>
					<div class="invalid-feedback">
						Merci de choisir une personnalisation.
					</div>
				</div>
{% endif %} #}
<script>
let quantities = {};{% for attribut in attributs %}quantities[{{ attribut.id }}] = {{ attribut.quantity }};{% endfor %}function Changequantity() {
let select = document.getElementById('quantity');
let attribut = document.getElementById('attribut').value;
select.innerHTML = '';
for (let i = 0; i <= quantities[attribut]; i++) {
let option = document.createElement('option');
option.value = i;
option.innerHTML = i;
select.appendChild(option);
}
}
function setQuantity() {
let quantity = document.getElementById('quantity').value;
let attribut = document.getElementById('attribut').value;
let addtocart = document.getElementById('add-to-cart');
q = parseInt(quantity);
{% for attribut in attributs %}
addtocart.innerHTML = `<a href="{{ path('cart_add-to-cart', { id:attribut.id, quantity:"q" }) }}" class="btn btn-primary btn-lg btn-block">Ajouter au panier</a>`;
addtocart.innerHTML = addtocart.innerHTML.replace("q", q);
{% endfor %}
}
</script>
