<div class="card h-100">
	<div class="card-header">
		<h2 class="card-title">{{ product.name }}</h2>
	</div>
	<div class="card-body d-flex flex-column">
		{% include "product/_rating.html.twig" %}
		<p class="card-text mt-1">{{ product.summary }}</p>
		{% if app.user %}
			<a href="{{ path('wishlist_new', { product: product.slug }) }}">Ajouter à ma liste d'envie</a>
		{% endif %}
		<div class="row">
			<div class="col-md-6 mb-3">
				{% if attributs | length > 0 %}
					<label for="attribut">Options :</label>
					<select class="form-control form-control-lg" name="attribut" id="attribut" onchange="Changequantity()" required>
						<option value="">Choisissez une option</option>
						{% for attribut in attributs %}
							<option value="{{ attribut.id }}">{{ attribut.name }}</option>
						{% endfor %}
					</select>
					<div class="invalid-feedback">
						Merci de choisir votre option
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="quantity">Quantité :</label>
					<select class="form-control form-control-lg" id="quantity" name="quantity" onchange="setQuantity()" required></select>
					<div class="invalid-feedback">
						Merci de choisir une quantité.
					</div>
				</div>
			{% else %}
				<div class=" fw-bold">Désolé produit victime de son succès, en attente de réapprovisionnement.</div>
			</div>
		{% endif %}
		<div id="customForm"></div>
		<div id="add-to-cart"></div>
	</div>
	{% include "includes/productprice/index.html.twig" %}
</div></div>
<script>
let quantities = {};
{% for attribut in attributs %}
quantities[{{ attribut.id }}] = {{ attribut.quantity }};
{% endfor %}
function Changequantity() {
let select = document.getElementById('quantity');
let attribut = document.getElementById('attribut').value;
select.innerHTML = '';
for (let i = 0; i <= quantities[attribut]; i++) {
let option = document.createElement('option');
option.value = i;
option.innerHTML = i;
select.appendChild(option);
}
}

function setQuantity() {
let quantity = document.getElementById('quantity').value;
let attribut = document.getElementById('attribut').value;
let addtocart = document.getElementById('add-to-cart');
q = parseInt(quantity);
{% for attribut in attributs %}
if (attribut == {{ attribut.id }}) {
addtocart.innerHTML = `<a href="{{ path('cart_add-to-cart', 
{ id:attribut.id, quantity:"q", attribut:attribut.id, description:"aucune" }) }}" 
class="btn btn-outline-primary btn-lg btn-block">Ajouter au panier</a>`;
addtocart.innerHTML = addtocart.innerHTML.replace("q", q);
}
{% endfor %}

{% for attribut in attributs|filter(a => a.persoIsEnable) %}
if (attribut == {{ attribut.id }}) {
	let customForm = document.getElementById('customForm');
	let quantity = document.getElementById('quantity').value;
	let attribut = document.getElementById('attribut').value;
	let h3 = document.createElement('h3');
	let p = document.createElement('p');
	let textArea = document.createElement('textarea');
	let span = document.createElement('span');
	let price = document.createElement('p');
	h3.innerHTML = 'Personnalisation';
	h3.setAttribute('class', 'mt-2 mb-2');
	p.innerHTML = 'Vous pouvez personnaliser votre produit en écrivant votre message ci-dessous.';
	textArea.setAttribute('type', 'text');
	textArea.setAttribute('name', 'custom');
	textArea.setAttribute('id', 'custom');
	textArea.setAttribute('class', 'form-control form-control-lg mb-3 mt-2');
	textArea.setAttribute('placeholder', 'Votre texte');
	textArea.setAttribute('required', 'required');
	textArea.setAttribute('rows', '4');
	textArea.setAttribute('cols', '50');
	span.innerHTML = 'Personnalisation' + ' ' + ' + ' + {{ attribut.price }} + '€';
	span.setAttribute('class', 'badge bg-info mb-3');
	price.innerHTML = (quantity) * ({{ product.price / 100 }} + {{ attribut.price }})+ '€';
	customForm.appendChild(h3);
	customForm.replaceChild(h3, customForm.childNodes[0]);
	customForm.appendChild(p);
	customForm.replaceChild(p, customForm.childNodes[1]);
	customForm.appendChild(textArea);
	customForm.replaceChild(textArea, customForm.childNodes[2]);
	customForm.appendChild(span);
	customForm.replaceChild(span, customForm.childNodes[3]);
	customForm.appendChild(price);
	customForm.replaceChild(price, customForm.childNodes[4]);
	let custom = document.getElementById('custom').value;
	let addtocart = document.getElementById('add-to-cart');
	let description = custom;
	textArea.addEventListener('input', function () {
		let custom = document.getElementById('custom').value;
		let addtocart = document.getElementById('add-to-cart');
		let description = custom;
		addtocart.innerHTML = `<a href="{{ path('cart_add-to-cart', 
		{ id:attribut.id, quantity:"q", attribut:attribut.id, description:"description" }) }}"
		class="btn btn-outline-primary btn-lg btn-block">Ajouter au panier</a>`;
		addtocart.innerHTML = addtocart.innerHTML.replace("q", q);
		addtocart.innerHTML = addtocart.innerHTML.replace("description", description);
	});
} else {
	let customForm = document.getElementById('customForm');
	customForm.innerHTML = '';
	let p = document.createElement('p');
	p.innerHTML = (quantity) * {{ product.price / 100 }} + '€';
	customForm.appendChild(p);
}
{% endfor %}
}
</script>
