<div class="card h-100">
<div class="card-header">
    <h2 class="card-title">{{ product.name }}</h2>
</div>
<div class="card-body">
    {% include "product/_rating.html.twig" %}
    <p class="card-text mt-1">{{ product.summary }}</p>
    <h3 class="fs-bold text-end">{{ product.price }} €</h3>
        <select name="{{ product.name }}" id="{{ product.id }}" class="form-select col-auto">
            {% for attribut in product.attributs %}
                <option value="{{ attribut.id }}">{{ attribut.name }}</option>
            {% endfor %}
        </select>
:

    {# {% for attribut in attributs|sort((a,b)=>a.position <=> b.position) %}
        {% if attribut.quantity > 0 %}
            <div class="row m-2">
                <div class="col-auto">
                    <div class="input-group-text">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    </div>
                </div>
                <div class="col-auto">
                    <input class="form-control text-center" type="text" value="{{ attribut.name }}" aria-label="{{ attribut.name }}" readonly>
                </div>
                <div class="col-auto">
                    <select for="quantity" class="form-select" aria-label="Default select">
                        <option selected>0</option>
                        <option select name="quantity" id="quantity">
                            {% for i in 1..attribut.quantity %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </option>
                    </select>
                </div>
            </div>
        {% else %}
            <div class="row m-2">
                <div class="col-auto">
                    <div class="input-group-text">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
                    </div>
                </div>
                <div class="col-auto">
                    <input class="form-control text-center" type="text" value="{{ attribut.name }}" aria-label="{{ attribut.name }}" readonly>
                </div>
                <div class="col-auto">
                    <input class="form-control text-center" type="text" value="Rupture" aria-label="Produit en rupture" readonly>
                </div>
            </div>
        {% endif %}
    {% endfor %} #}
</div>
<div class="card-footer">
    {% if attributs is not empty and attributs|filter((a)=>a.quantity > 0) is not empty %}
        <a href="#" class="card-link btn btn-primary">Ajouter au panier</a>
    {% else %}
        <h5 class="mt-2 text-center">Produit victime de son succés !</h5>
    {% endif %}
</div>
</div>