<div class="container">
			<h2 class="mt-5 mb-5 text-center">Nos Produits</h2>
			<div id="carouselProducts" class="carousel slide " data-ride="carousel" data-bs-interval="4000" data-nextwhenvisible="true">
				<div class="carousel-inner">
				<div class="row g0">
					{% for product in products %}
						<div class="carousel-item">
							<div class="col-lg-3 col-6 mb-3 d-flex justify-content-center px-2">
								<a href="{{ path('product_show', { parentCategory: product.category.parent.slug, category: product.category.slug, product: product.slug }) }}">
									<div class="card product-card shadow">
										<img src="{{ ('/images/products/' ~ product.image0)|imagine_filter('latest_products') }}" class="w-100 card-img-top product-image" alt="{{ product.name }}">
										<div class="middle">
											<a href="{{ path('product_show', { parentCategory: product.category.parent.slug, category: product.category.slug, product: product.slug }) }}" class="product-text nav-link rounded btn btn-outline-light fw-bold">Voir</a>
										</div>
									</a>
									<div class="card-body d-flex flex-column">
										<h5 class="card-title">{{ product.name }}</h5>
										<p class="card-text">{{ product.summary|u.truncate(50, '...', false) }}</p>
										{% include "includes/productprice/index.html.twig" %}
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<a class="carousel-control-prev" href="#carouselProducts" role="button" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselProducts" role="button" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
</div>
<script>
let carousel = document.querySelector('#carouselProducts');
let carouselItems = carousel.querySelectorAll('.carousel-item');
let carouselItemsCount = carouselItems.length;
let carouselItemsVisible = 1;

for (let i = 0; i < carouselItemsCount; i++) {
if (i < carouselItemsVisible) {
carouselItems[i].classList.add('active');
}
}
carouselItems.forEach((el) => {
const minPerSlide = 4;
let next = el.nextElementSibling
for (var i = 1; i < minPerSlide; i++) {
if (! next) { // wrap carousel by using first child
next = items[0]
}
let cloneChild = next.cloneNode(true)
el.appendChild(cloneChild.children[0])
next = next.nextElementSibling
}
})
</script>