{% extends 'base.html.twig' %}

{% block title %}Détail
	{{ product.name }} |
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12 ms-2 mb-5">
				<i>
					<small>
						<a href="{{ path('home')}}">Home</a>
						/
						<a href="{{ path('category_show', { parentCategory: parentCategory.slug })}}">{{ parentCategory.name }}</a>
						/
						<a href="{{ path('sub-category_show', { parentCategory: parentCategory.slug, category: category.slug })}}">{{ category.name }}</a>
						/
						<a class="fw-bold text-decoration-none link-dark">{{ product.name }}</a>
					</small>
				</i>
			</div>
		</div>
		<div class="row">
			<div class="col-lg mb-3">
				<div class="row">
					{% include "product/_gallery.html.twig" %}
				</div>
			</div>
			<div class="col-lg mb-3">
				{% include "product/_product-card.html.twig" %}
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-12">
				<div class="card text-center mt-2 mb-2">
					<div class="card-header">
						<ul class="nav nav-tabs card-header-tabs">
							<li class="nav-item">
								<a class="nav-link active" aria-current="true" href="#">Details</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Commentaires</a>
							</li>
						</ul>
					</div>
					<div class="card-body">
						<h5 class="card-title">{{ product.name }}</h5>
						<p class="card-text">{{ product.description }}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-3">
			{% include "product/_similar-products.html.twig" %}
		</div>
	</div>
{% endblock %}
