<div class="footer">
	<div class="container-fluid" style="background-color: {{ theme.footerColor }};">
		<div class="container">
			<div class="row text-light text-center p-3">
				{{ include("includes/footer/_localisation.html.twig") }}
				{{ include("includes/footer/_shop.html.twig") }}
				{{ include("includes/footer/_customer_care.html.twig") }}
				{{ include("includes/footer/_payement_methods.html.twig") }}
			</div>
			<div class="row">
				{{ render(controller('App\\Controller\\Shop\\FooterController::footerSocial')) }}
			</div>
		</div>
	</div>
</div>
