{% extends 'base.html.twig' %}

{% block title %}Paiement de ma commande |
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<h2>Mon récapitulatif</h2>
		<p>Vérifier vos informations avant de payer votre commande</p>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<strong>Mon adresse de livraison</strong>
				<br>
				<div class="form-check mt-4">
					{{ delivery_address|raw }}
				</div>
				<hr>
				<strong>Mon transporteur</strong>
				<br>
				<div class="form-check mt-4">
					{{ shipping.name }}
					<br>
					{{ shipping.description }}
					<br>
					Montant de Livraison : {{ (shipping.price)| number_format(2, ',', '.') }}
					&euro;
				</div>
			</div>
			<div class="col-md-6">
				<div class="text-center">
					<h4>Ma commande</h4>
				</div>
				<div class="order-summary">
					{% set totalProducts = 0 %}
					{% set totalProductsHT = 0 %}
					{% for key, attribut in cart %}
						<div class="row {% if key > 0 %}mt-2{% endif %}">
							<div class="col-2">
								<img src="{{ ('/images/products/' ~ attribut.attribut.product.image0)|imagine_filter('Thumbnail_products_cart') }}" class="rounded" alt="{{ attribut.attribut.product.name }}">
							</div>
							<div class="col-6">
								{{ attribut.attribut.product.name }}<br>
								{{ attribut.attribut.name }}
								x
								{{ attribut.quantity }}
							</div>
							<div class="col-2">
								<p>{{ (((attribut.attribut.product.price / 100) - ((attribut.attribut.product.price / 100 ) * (attribut.attribut.product.taxe.percent / 100 ))) * attribut.quantity)| number_format(2, ',', '.') }}&euro;</p>
							<div class="col-2">
								<p>{{ ((attribut.attribut.product.price * attribut.quantity) / 100) | number_format(2, ',', '.') }}&euro;</p>
							</div>
						</div>
						{% set totalProducts = totalProducts + ((attribut.attribut.product.price * attribut.quantity) / 100) %}
						{% set totalProductsHT = totalProductsHT + (((attribut.attribut.product.price / 100) - ((attribut.attribut.product.price / 100 ) * (attribut.attribut.product.taxe.percent / 100 ))) * attribut.quantity) %}
					{% endfor %}
				</div>
				<hr>
				<strong>Sous-total HT :</strong>
				{{ totalProductsHT | number_format(2, ',', '.') }}&euro;<br>
				<strong>Sous-total TTC :</strong>
				{{ totalProducts | number_format(2, ',', '.') }}&euro;<br>
				<strong>Livraison :</strong>
				{{ (shipping.price ) | number_format(2, ',', '.') }}&euro;
				<hr>
				{% set total = (totalProducts + (shipping.price)) | number_format(2, ',', '.')  %}
				<strong>Total :</strong>
				{{ total}}&euro;
				<form id='checkout-form' method='post' action="{{ path('stripe_charge') }}">
					<input type='hidden' name='stripeToken' id='stripe-token-id'>
					<label for="card-element" class="mb-2 mt-3">Veuillez remplir vos coordonnées bancaires</label>
					<br>
					<div id="card-element" class="form-control"></div>
					<button id='pay-btn' class="btn btn-success mt-3 mb-5" type="button" style="margin-top: 20px; width: 100%;padding: 7px;" onclick="createToken()">Payer
						{{total}}&euro;</button>
				</button>
				<form></div>
			</div>
			</div>
		</div>
	</div>
		<script src="https://js.stripe.com/v3/"></script>
		<script>
			var stripe = Stripe("{{ stripe_key }}");
var elements = stripe.elements();
var cardElement = elements.create('card');
cardElement.mount('#card-element');

function createToken() {
document.getElementById("pay-btn").disabled = true;
stripe.createToken(cardElement).then(function (result) {


if (typeof result.error != 'undefined') {
document.getElementById("pay-btn").disabled = false;
alert(result.error.message);
}

// creating token success
if (typeof result.token != 'undefined') {
document.getElementById("stripe-token-id").value = result.token.id;
document.getElementById('checkout-form').submit();
}
});
}
		</script>
	{% endblock %}
