{% extends 'base.html.twig' %}

{% block title %}Valider ma commande |
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<h2 class="mt-5">Je passe ma commande</h2>
		<p>Choisissez vos préférences avant de passer votre commande</p>
		<hr>
		<div class="row">
			<div class="col-md-6">
				{% set formHTML  %}
					{{ form_start(form,{action: path('order_recap') }) }}
						{% if shippingMethod == 'Livraison gratuite' %}
					{{ form_label(form.addresses, 'Adresse de livraison') }}
					<a href="{{ path('account_address') }}">Ajouter une nouvelle adresse</a>
						{% else %}
						<div class="mb-3">
								<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
								<script src="//unpkg.com/leaflet/dist/leaflet.js"></script>
								<link rel="stylesheet" type="text/css" href="//unpkg.com/leaflet/dist/leaflet.css" />
								<script src="//widget.mondialrelay.com/parcelshop-picker/jquery.plugin.mondialrelay.parcelshoppicker.min.js"></script>
								<!-- HTML Element in which the Parcelshop Picker Widget is loaded -->
								<div id="Zone_Widget"></div>
								<!-- HTML element to display the parcelshop selected, for demo only. Should use hidden instead. -->
								<input type="hidden" id="Target_Widget" />
							<span id="TargetDisplayInfoPR_Widget"></span>
										<!-- Balises HTML utilisées dans la fonction de CallBack pour reçevoir des données à afficher -->
											<div style="font-weight:bold;text-decoration:underline;">Point de livraison choisi :</div><br/> 
											<div class="d-none">data.ID = <span id="cb_ID"></span></div>
											<div>Nom = <span id="cb_Nom"></span></div>
											<div>Adresse = <span id="cb_Adresse"></span></div>
											<div>CP = <span id="cb_CP"></span></div>
											<div>Ville = <span id="cb_Ville"></span></div>
											<div>Pays = <span id="cb_Pays"></span></div>
						</div>
						
							{% endif %}
							<div class="fw-bold">Montant de la Livraison : {{ shipping.price | number_format(2, ',', '.') }}&euro;</div>
						{{ form_end(form) }}
				{% endset %}
						{{ formHTML|replace({'[br]':'<br>'})|raw }}
			</div>
			<div class="col-md-6 mb-3">
				<div class="text-center">
					<h4>Récapitulatif de votre commande</h4>
				</div>
				<div class="bg-light p-3 rounded-shadow">
				
					{% for key, attribut in cart %}
						<div class="row {% if key > 0 %}mt-2{% endif %}">
							<div class="col-auto">
								<img src="{{ ('/images/products/' ~ attribut.attribut.product.image0)|imagine_filter('Thumbnail_products_cart') }}" class="rounded" alt="{{ attribut.attribut.product.name }}">
							</div>
							<div class="col-auto my-auto">
								<p class="fw-bold">{{ attribut.attribut.product.name }}</p><br>
								<p>{{ attribut.attribut.name }}</p>
							</div>
							<div class="col-auto my-auto">
								<p>x
									{{ attribut.quantity }}</p>
							</div>
							<div class="col-auto">
							<p>prix HT</p>
								<p>{{ (((attribut.attribut.product.price / 100) - ((attribut.attribut.product.price / 100 ) * (attribut.attribut.product.taxe.percent / 100 ))) * attribut.quantity)| number_format(2, ',', '.') }}&euro;</p>
							</div>
							<div class="col-auto">
							<p>prix TTC</p>
								<p>{{ ((attribut.attribut.product.price * attribut.quantity) / 100) | number_format(2, ',', '.') }}&euro;</p>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
<script>
// Init the widget on ready state
$(document).ready(function() {
  // Loading the Parcelshop picker widget into the <div> with id "Zone_Widget" with such settings:
  $("#Zone_Widget").MR_ParcelShopPicker({
    //
    // Settings relating to the HTML.
    //
    // JQuery selector of the HTML element receiving the Parcelshop Number (ex: here, input type text, but should be input hidden)
    Target: "#Target_Widget",
    //
    // Settings for Parcelshop data access
    //
    // Code given by Mondial Relay, 8 characters (padding right with spaces)
    // BDTEST is used for development only => a warning appears
    Brand: "BDTEST  ",
    // Default Country (2 letters) used for search at loading
    Country: "FR",
    // Default postal Code used for search at loading
    PostCode: "",
    // Delivery mode (Standard [24R], XL [24L], XXL [24X], Drive [DRI])
    ColLivMod: "24R",
    // Number of parcelshops requested (must be less than 20)
    NbResults: "7",
    //
    // Display settings
    //
    // Enable Responsive (nb: non responsive corresponds to the Widget used in older versions=
    Responsive: true,
		// Show the results on Leaflet map usng OpenStreetMap. 
    ShowResultsOnMap: true,

	DisplayMapInfo: true,
    // Fonction de callback déclenché lors de la selection d'un Point Relais
    OnParcelShopSelected:
      // Fonction de traitement à la sélection du point relais.
      // Remplace les données de cette page par le contenu de la variable data.
      // data: les informations du Point Relais
      function(data) {
        $("#cb_ID").html(data.ID);
        $("#cb_Nom").html(data.Nom);
        $("#cb_Adresse").html(data.Adresse1 + ' ' + data.Adresse2);
        $("#cb_CP").html(data.CP);
        $("#cb_Ville").html(data.Ville);
        $("#cb_Pays").html(data.Pays);
      }
  });
});
</script>
{% endblock %}
