{% extends 'base.html.twig' %}

{% block title %}{{ parentCategory.name }} |
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<i>
					<small>
						<a class="crumb" href="{{ path('home')}}">Accueil</a>
						/
					<a class="fw-bold text-decoration-none link-dark">{{ parentCategory.name }}</a>
					</small>
				</i>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 mt-5 mb-5">
				<div class="card text-white fw-bold shadow ">
					<img class="img-fluid rounded w-100 banner-image" style="max-height: 400px" src="{{ ('/images/parentCategories/' ~ parentCategory.image) }}" alt="{{ parentCategory.name }}">
					<div class="card-img-overlay d-flex">
						<h1 class="card-title text-center align-self-center mx-auto">{{ parentCategory.name }}</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-5">
			{% for category in parentCategory.categories %}
				<div class="col-lg-3 col-6 d-flex justify-content-center mt-5">
					<div class="card product-card shadow h-100" style="width: 400px;">
						<div class="grayscale">
							<figure><img class="card-img-top image-cover" style="height:400px;" src="{{ ('/images/categories/' ~ category.image)|imagine_filter('categories') }}" alt="{{ category.name }}"></figure>
						</div>
						<div class="middle">
							<a href="{{ path('sub-category_show', { parentCategory: parentCategory.slug, category: category.slug }) }}" class="product-text nav-link rounded btn btn-outline-light fw-bold">Voir</a>
						</div>
						<div class="card-body">
							<h5 class="card-title text-center mb-3">{{ category.name }}</h5>
							<p class="card-text">{{ category.description }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
